@import '_null_style';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');


body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 100%;

}

.main-body {
    display: flex;  
    flex-direction: column;
    height: 100%;

		&__text {
            margin: 30vh 0 0 0;
            word-spacing: 2px;
            line-height: 1.5;

            & span {
                color: rgb(240, 114, 69);
                font-weight: 700;
            }
		}

		&__button {

            width: 20%;
            margin: 30px auto;
            background-color: rgb(240, 114, 69);
            border-radius: 5px;
		}

		&__button-text {
            padding: 10px 0;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
		}

		&__text-2 {
            flex: 1 0 auto;
		}
}
.footer {

		&__text {
            font-size: 12px;
            color: grey;
            padding: 20px 0;
            text-transform: uppercase;
            word-spacing: 2px;
		}
}

@media (min-width: 768px){
    body {
        font-size: 18px;
    }
}

@media (min-width: 992px){
    .footer__text {
        font-size: 16px;
    }
}